<html>
  <head></head>
  <body>
    <h1>Add an Artist</h1>
  
  <form action="/artists" method="POST">
    <label>Artist Name</label>
    <input type="text" name="name" />
    
    <p><label>Genre</label>
    <input type="text" name="genre" />

    <p><input type="submit" value="Submit the form">
  </form>

  </body>
</html>